@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400;700&display=swap');

body,
button,
select,
input {
  font-family: 'Handjet', cursive;
  font-size: 22px;
}

.main-container {
  max-width: 450px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.name-wrapper {
  border: 2px dashed rgb(177, 173, 173);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-wrapper-valid {
  background: #99eb62;
  background: radial-gradient(at center, #99eb62, #3fa06f);
  border: 2px solid rgb(0, 255, 76);
}

.name-wrapper-fail {
  background: #eb6264;
  background: radial-gradient(at center, #eb6264, #a06b3f);
  border: 2px solid rgb(255, 0, 0);
}

.name-wrapper h3 {
  margin: 5px;
}

.name-wrapper p {
  margin: 5px;
  font-weight: 400;
  font-size: 36px;
  background: linear-gradient(rgb(169, 231, 211), rgb(4, 138, 10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-wrapper-valid p {
  background: transparent !important;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  color: #fff !important;
}

.name-wrapper-fail p {
  background: transparent !important;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  color: #fff !important;
}

.form-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px 0;
}

.form-control {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}

.form-wrapper label {
  font-weight: 700;
}

.form-control input {
  width: 50%;
  text-align: right;
}

.form-control input:focus-visible {
  outline: none;
}

.form-control select {
  width: calc(50% + 8px);
  height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-wrapper button {
  width: 120px;
  height: 50px;
  border-radius: 20px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
  cursor: pointer;
  border-style: dashed;
}

.form-wrapper .reset-btn {
  margin-top: 10px;
  font-size: 16px;
  width: 80px;
  height: 30px;
}
